.Editor {
    display: flex;
    gap: 10px;
}

.Editor input {
    flex: 1;
    padding: 15px;
    border: 1px solid #eee;
}

.Editor button {
    cursor: pointer;
    width: 80px;
    border: none;
    color: #fff;
    border-radius: 5px;
    background-color: rgb(37, 147, 255);
}